:root {
  --font-inter: "Inter", sans-serif;
}

html {
  font-family: var(--font-inter);

  font-feature-settings:
    "cv01" 1,
    "cv05" 1,
    "cv11" 1;

  font-variation-settings: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
